@import '../../assets/scss/variables/colors.scss';
@import '../../assets/scss/variables/font.scss';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2001;
    display: flex;
    align-items: center;
    padding: 10px 40px 10px 32px;
    background-color: #202020;
    // background-color: rgba(23, 23, 30, 0.96);

    &__left {
        display: flex;
        align-items: center;
        float: left;
    }

    &__btn {
        border: none;
        padding: 0;
        background: none;
        margin-right: 28px;
        cursor: pointer;
    }

    &__center {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-right: auto;

        button {
            padding: 0;
            padding: 7.5px 20px;
            background-color: #373737;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:active {
                background-color: #808080;
            }

            img {
                width: 24px;
                height: 24px;
                display: inline-block;
            }
        }
    }

    &__search-input {
        width: 560px;
        padding: 10px 23px;
        background: #121212;

        border: 1px solid #373737;
        color: $theme-dark;
        background-repeat: no-repeat;
        background-position: right 12px center;

        &::placeholder {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: $theme-dark;
            opacity: 0.4;
        }

        &:focus {
            outline: none;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        &-menues {
            display: flex;
            align-items: center;
        }

        &-icons {
            &-wrapper {
                margin-right: 30px;
            }

            position: relative;
            border: none;
            cursor: pointer;
            background: none;
        }
    }
}

.badge {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $active-color;
    top: -3px;
    right: 0;
    font-size: 12px;
    color: wheat;
}
