@import './assets/scss/normalize.scss';
@import './assets/scss/fonts.scss';

/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/

/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #17171e;
    // background-color: wheat;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    max-width: 1160;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.render-pages {
    display: flex;
    margin-left: 220px;
    margin-top: 65.8px;
    overflow-y: auto;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}
